body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.banner {
  width: 1440px;
  height: 300px;
  left: 0px;
  top: 0px;
}
.headerCls{
  background: rgba(0, 0, 0, 0.2) !important
}
.linkSize{
  font-size:12px !important
}
.blockCard{
  position: fixed;
  left: 70px;
}
.img-inline {
  display:inline !important
}
.img-hide {
  display:none !important
}
