body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.banner {
  width: 1440px;
  height: 400px;
  left: 0px;
  top: 0px;
}
.headerCls{
  background: rgba(0, 0, 0, 0.2) !important
}
.linkSize{
  font-size:12px !important
}
.blockCard{
  position: fixed;
  left: 70px;
}
.img-inline {
  display:inline !important
}
.img-hide {
  display:none !important
}
.blogPostHome{
  width: 1440px;
  height: 600px;
}
.footer-section{
  display: flex;
  background:#212529;
  color: #fff;
  padding: 20px;
  
}
.flexGrw{
  flex:1
}
.blogCategrory {
    position: absolute;
    color: #fff; 
    top: 10px;
     right: 10px;
      background: #C4C4C4;padding: 5px; font-size: 0.6rem
  
}
.blogPostInfo {
  position: absolute;
  color: #fff;
  top: 30%;
  right: 30%;
  text-align:center
}

.dateCls{
  color: #6C757D;
  font-size: 12px;
  line-height: 15px;
}
.date2Cls{
  color: #fff;
  font-size: 12px;
}
.categoriesTab{
      margin-right: 30px;
       color:#495057 !important;
        font-weight:bold !important;
}
.categoriesTab.active{
  text-decoration:underline
}
